@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 18px;
    font-family: 'Sora', sans-serif;
    background-image: url(../images/pattern-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.heading {
    font-size: 30px;
    color: white;
    font-family: 'Sora', sans-serif;
}

.main {
    text-align: center;
    width: 100%;
    padding-top: 20px;
}

.search {
    margin: 20px;
}

#ip {
    padding: 15px;
    font-weight: bold;
    width: 300px;
    border: none;
    margin-right: 0px;
    text-align: center;
}

#go {
    padding: 15px;
    margin-left: -5px;
    background-color: hsl(0, 0%, 17%);
    border: none;
    color: white;
    border-left: none;
    font-family: 'Sora', sans-serif;
}

#go:hover {
    cursor: pointer;
}

.details {
    display: flex;
    padding: 15px;
    margin: 20px;
    margin-bottom: 0px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    transform: translateY(65%);
    flex-wrap: wrap;
    justify-content: center;
}

.border-right {
    text-align: center;
    margin: 0px 20px;
    font-size: 15px;
    color: hsl(0, 0%, 59%);
    padding: 20px;
}

.out {
    color: black;
    font-weight: bold;
}

#map {
  height: 360px;
  margin-top: 80px;
  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

footer{
    text-align: center;
    color: white;
    margin: 15px auto;
}

footer a {
    color: white;
}

@media screen and (max-width:900px) {
    .border-right {
        flex: 100%;
    }
    .details {
        padding-left: 0%;
        transform: translateY(30%);
        width: 80%;
        margin: auto;
    }
    #map {
      height: 400px;
      margin-top: 9rem;
    }
}

@media screen and (max-width:850px) {
    .search {
        transform: translate(0%, 100%);
    }
    #ip {
	    width: 200px;
	}

}
